<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name></display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>UploadServlet</description>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>base.servlet.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/uploadServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>UploadCopyServlet</description>
    <display-name>UploadCopyServlet</display-name>
    <servlet-name>UploadCopyServlet</servlet-name>
    <servlet-class>base.servlet.UploadCopyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadCopyServlet</servlet-name>
    <url-pattern>/uploadCopyServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>UserServlet</description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>base.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/userServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>UserCategoryServlet</description>
    <display-name>UserCategoryServlet</display-name>
    <servlet-name>UserCategoryServlet</servlet-name>
    <servlet-class>base.servlet.UserCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserCategoryServlet</servlet-name>
    <url-pattern>/userCategoryServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>CategoryServlet</description>
    <display-name>CategoryServlet</display-name>
    <servlet-name>CategoryServlet</servlet-name>
    <servlet-class>base.servlet.CategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryServlet</servlet-name>
    <url-pattern>/categoryServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>DocumentServlet</description>
    <display-name>DocumentServlet</display-name>
    <servlet-name>DocumentServlet</servlet-name>
    <servlet-class>base.servlet.DocumentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DocumentServlet</servlet-name>
    <url-pattern>/documentServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>BugServlet</description>
    <display-name>BugServlet</display-name>
    <servlet-name>BugServlet</servlet-name>
    <servlet-class>base.servlet.BugServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BugServlet</servlet-name>
    <url-pattern>/bugServlet.do</url-pattern>
  </servlet-mapping>
</web-app>