<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name></display-name>
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
	<session-config>
		<session-timeout>1440</session-timeout>
	</session-config>
	<servlet>
		<description>UploadServlet</description>
		<display-name>UploadServlet</display-name>
		<servlet-name>UploadServlet</servlet-name>
		<servlet-class>base.servlet.UploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadServlet</servlet-name>
		<url-pattern>/uploadServlet.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>UploadCopyServlet</description>
		<display-name>UploadCopyServlet</display-name>
		<servlet-name>UploadCopyServlet</servlet-name>
		<servlet-class>base.servlet.UploadCopyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadCopyServlet</servlet-name>
		<url-pattern>/uploadCopyServlet.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>UploadExcelServlet</description>
		<display-name>UploadExcelServlet</display-name>
		<servlet-name>UploadExcelServlet</servlet-name>
		<servlet-class>base.servlet.UploadExcelServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadExcelServlet</servlet-name>
		<url-pattern>/uploadExcelServlet.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>UserServlet</description>
		<display-name>UserServlet</display-name>
		<servlet-name>UserServlet</servlet-name>
		<servlet-class>base.servlet.UserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/userServlet.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>UserCategoryServlet</description>
		<display-name>UserCategoryServlet</display-name>
		<servlet-name>UserCategoryServlet</servlet-name>
		<servlet-class>base.servlet.UserCategoryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserCategoryServlet</servlet-name>
		<url-pattern>/userCategoryServlet.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>CategoryServlet</description>
		<display-name>CategoryServlet</display-name>
		<servlet-name>CategoryServlet</servlet-name>
		<servlet-class>base.servlet.CategoryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CategoryServlet</servlet-name>
		<url-pattern>/categoryServlet.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>DocumentServlet</description>
		<display-name>DocumentServlet</display-name>
		<servlet-name>DocumentServlet</servlet-name>
		<servlet-class>base.servlet.DocumentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DocumentServlet</servlet-name>
		<url-pattern>/documentServlet.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>BugServlet</description>
		<display-name>BugServlet</display-name>
		<servlet-name>BugServlet</servlet-name>
		<servlet-class>base.servlet.BugServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BugServlet</servlet-name>
		<url-pattern>/bugServlet.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>ArrangeServlet</description>
		<display-name>ArrangeServlet</display-name>
		<servlet-name>ArrangeServlet</servlet-name>
		<servlet-class>base.servlet.ArrangeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ArrangeServlet</servlet-name>
		<url-pattern>/arrangeServlet.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>GoodsServlet</description>
		<display-name>GoodsServlet</display-name>
		<servlet-name>GoodsServlet</servlet-name>
		<servlet-class>base.servlet.GoodsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GoodsServlet</servlet-name>
		<url-pattern>/goodsServlet.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description>GoodsOutServlet</description>
		<display-name>GoodsOutServlet</display-name>
		<servlet-name>GoodsOutServlet</servlet-name>
		<servlet-class>base.servlet.GoodsOutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GoodsOutServlet</servlet-name>
		<url-pattern>/goodsOutServlet.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description>GoodsInServlet</description>
		<display-name>GoodsInServlet</display-name>
		<servlet-name>GoodsInServlet</servlet-name>
		<servlet-class>base.servlet.GoodsInServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GoodsInServlet</servlet-name>
		<url-pattern>/goodsInServlet.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description>CommentServlet</description>
		<display-name>CommentServlet</display-name>
		<servlet-name>CommentServlet</servlet-name>
		<servlet-class>base.servlet.CommentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CommentServlet</servlet-name>
		<url-pattern>/commentServlet.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description>CouponServlet</description>
		<display-name>CouponServlet</display-name>
		<servlet-name>CouponServlet</servlet-name>
		<servlet-class>base.servlet.CouponServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CouponServlet</servlet-name>
		<url-pattern>/couponServlet.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description>AfterSaleComeRecordServlet</description>
		<display-name>AfterSaleComeRecordServlet</display-name>
		<servlet-name>AfterSaleComeRecordServlet</servlet-name>
		<servlet-class>base.servlet.AfterSaleComeRecordServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AfterSaleComeRecordServlet</servlet-name>
		<url-pattern>/afterSaleComeRecordServlet.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>AfterSaleEntryServlet</description>
		<display-name>AfterSaleEntryServlet</display-name>
		<servlet-name>AfterSaleEntryServlet</servlet-name>
		<servlet-class>base.servlet.AfterSaleEntryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AfterSaleEntryServlet</servlet-name>
		<url-pattern>/afterSaleEntryServlet.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>ExpressReissueServlet</description>
		<display-name>ExpressReissueServlet</display-name>
		<servlet-name>ExpressReissueServlet</servlet-name>
		<servlet-class>base.servlet.ExpressReissueServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ExpressReissueServlet</servlet-name>
		<url-pattern>/expressReissueServlet.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>ExportOrderListServlet</description>
		<display-name>ExportOrderListServlet</display-name>
		<servlet-name>ExportOrderListServlet</servlet-name>
		<servlet-class>base.servlet.ExportOrderListServlet</servlet-class>
		<!--设置初始化参数 --> 
        <init-param>  
            <param-name>savePath</param-name>  
            <param-value>upload</param-value>  
        </init-param>  
	</servlet>
	<servlet-mapping>
		<servlet-name>ExportOrderListServlet</servlet-name>
		<url-pattern>/exportOrderListServlet.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ServletConfigurator</servlet-name>
		<servlet-class>org.logicalcobwebs.proxool.configuration.ServletConfigurator</servlet-class>
		<init-param>
			<param-name>xmlFile</param-name>
			<param-value>WEB-INF/proxool.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<listener>
	   	<listener-class>base.listener.ZhuangBiListener</listener-class>
	</listener>
</web-app>